<li class="nav-item dropdown">

    <!-- NOME DO MENU: PORTAL DO ALUNO / PORTAL DO PROFESSOR -->
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
        <i class="fa-solid fa-user-tie"></i> {{portalMenuTitulo}}
    </a>


    <ul class="dropdown-menu">
        <!-- Menu: para você -->
        <li class="dropdown-header text-muted">Para você</li>
        <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-clipboard-user"></i> Meu Perfil </a></li>


        <!-- Menu: você no controle -->
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-header text-muted">Você no controle</li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-folder-tree"></i> Turmas</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-folder-plus"></i> Criar nova turma</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-calendar-check"></i> Gerenciar presença</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-graduate"></i> Gerenciar alunos</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-person-arrow-up-from-line"></i> Promover aluno</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-ruler-horizontal"></i> Tamanhos e medidas</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trophy"></i> Rankings internos</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-award"></i> Meta de aulas</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-chart-pie"></i> Relatórios</a></li>

        {{#if dependentes}}
        <li>
            <hr class="dropdown-divider">
        </li>
        <li class="dropdown-header text-muted">Gerenciar contas</li>
        {{#each dependentes}}
        <li>
            <a class="dropdown-item" href="/conta/trocar/{{id}}">
                <i class="fa-solid fa-child"></i> {{first_name}} {{last_name}}
            </a>
        </li>
        {{/each}}
        {{/if}}

        {{#if viewingAs}}
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item text-warning" href="/conta/voltar">
                <i class="fa-solid fa-arrows-rotate"></i> Voltar para minha conta
            </a>
        </li>
        {{/if}}

        <!-- Menu: sair do sistema -->
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-header text-muted">Sair do sistema</li>
        <li>
            <form action="/auth/logout" method="POST" class="px-3 py-1">
                <button type="submit" class="dropdown-item text-danger p-0 border-0 bg-transparent text-start">
                    <i class="fa-solid fa-person-walking-arrow-right"></i> Encerrar sessão
                </button>
            </form>
        </li>

    </ul>
</li>